@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css?family=Tenor Sans");
@import url("https://fonts.googleapis.com/css?family=Anek Gurmukhi");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* Fugaz One */

.donor-acceptor{
    display:flex;
    gap:5px;
    
    justify-content:center;

}
.donor-btn{
    background-color: rgb(51, 176, 176);
    width:100px;
    border:1px solid rgb(94, 0, 245);
   
    font-weight:bold;
    color:rgb(35, 6, 6);
    
   
}
.donor-btn-1{
    width:100px;
    background-color:rgb(78, 232, 244);
}
.acceptor-btn-1{
    width:100px;
    background-color:transparent;
}

.donor-acceptor-part-container1{
    background-image:url("https://img.freepik.com/premium-photo/online-donation-platform-offer-modish-money-sending-system_31965-41428.jpg?w=1060");
    height:70vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    background-size: cover;
}
.donator-acceptor-part-para1{
    font-family:Tangerine;
    font-weight:900;
    font-size: 100px;
    width:500px;
    color:rgb(50, 21, 21);
    padding:25px;

}
.donor-acceptor-part-container2{
    padding:10px;

}
.donator-acceptor-part-para2{
    font-size:20px;
}
.organ-donor-part-container3{
    display:flex;
}
.organ-donor-part-mini-container3{
    padding:20px;
}
.organ-donor-part-img3{
    height:400px;
}
.organ-donor-part-container4{
    display:flex;
    justify-content:center;
}

.organ-donor-acceptor-part-imag4{
    height:400px;
    text-align:center;
}
.organ-donor-part-container5{
    display:flex;
    padding:25px;
}
.organ-donation-part-img5{
    height:500px;
}
.organ-donor-part-head1{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(98, 7, 7);
    padding:7px;
    

}
.donator-acceptor-part-para3{
    font-family: Muli,sans-serif;
    font-size:18px;
    color:rgb(6, 44, 44);
    padding:7px;

}
