.volunteer-background-page{
    background-image:url("https://img.freepik.com/free-photo/group-multiethnic-diverse-hands-raised_53876-147430.jpg?w=1380&t=st=1671037972~exp=1671038572~hmac=a9a64d134ee52e6744b9e679d173cff59815a896ba47a50b29864166d99e8cea");
    height:90vh;
    display: flex;
    justify-content: center;

    
}
.vol-header{
    font-size:60px;
    color:rgb(24, 19, 26);
    padding:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vol-second-part{
    padding:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vol-para1{
    font-size:25px;
    padding:10px;
}
.li-content{
    font-size:20px;
}
.vol-container{
    display:flex;

}
.vol-second-part-img{
    height:400px;
    
}
.vol-second-header{
    font-weight:400;
    color:rgb(27, 4, 16);
}
.vol-container2{
    display:flex;
}
.vol-part-img2{
    height:400px;
}
.vol-form-container{
    display:flex;
    justify-content:center;
}
.vol-form{
    display:flex;
    gap:10px;
    flex-direction:column;
   
    width:30%;
    height:50vh;
    padding:40px;
    border-radius:25px;
}
.vol-part-img3{
    height:400px;
}
.vol-input{
    background:transparent;
   border:2px solid #16075c;
  border-radius:10px 0px;
  /* background-color: rgb(106, 144, 238); */
  color:#fff;
  padding:2px;
  padding-left:5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:600;
}
.vol-input:focus{
    outline:none;
}