/* .organ-home{
height:200px;
width:200px;

border-radius:100px;
} */
.home-container{
    
   background-image: url("../assets/savelife.jpg");
   background-size:cover;
   background-position: center;
   height:93vh;
   /* opacity:0.8; */
   display:flex;
   flex-direction: column;
   justify-content: center;
}
.home-para{
 
    
    text-align:center;
    font-weight:bold;
    font-size:30px;
    color:rgb(0, 29, 22);
    width:600px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:20px;

}
.home-btn{
    background-color: transparent;
    color:rgb(22, 50, 35);
    font-size:25px;
    padding:5px;

}
