.acceptor-form{
    display:flex;
    justify-content: space-evenly;
    
}
.acceptor-user-icon{
  border:4px solid rgb(139, 143, 143);
  padding:5px;
  background-color: aliceblue;
  display:flex;
  gap:10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.acc-username{
    border:none;
    background:transparent;
    letter-spacing:1px;
    font-weight:600;
    
}
.acc-username:focus{
    outline: none;
}
.icon-acc-user{
    font-size:25px;
    color:rgb(113, 18, 26);
}
.acceptor-form-organ{
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.acceptor-user-button{
    text-align:center;
    border:4px solid #000;
}