.donor-input-form{
   background: none;
   border:none;
   border-bottom: 3px solid rgb(4, 192, 235);
   font-family: Arial, Helvetica, sans-serif;
   color:rgb(210, 62, 255);
   font-size:19px;
   font-weight:600;
   letter-spacing: 1px;

}
.donor-input-form:hover{
    font-size:20px;

}
.donor-textarea:hover{
    font-size:19px;


}

.donor-input-form:focus{
    outline: none;
    
}
.form-donor-application{
    display:flex;
    flex-direction: column;
   padding:20px;
   background-color:black;
  
   color:blue;
   
    
    gap:10px;
    
 
}
.donor-img-container{
    width:50%;
}
.donor-form-img{
    height:100vh;
   
   
}
.organ-donor-appli-container{
    display:flex;
    background-image: url('https://img.freepik.com/free-photo/sharing-is-caring-money-donation-give-concept_53876-124765.jpg?w=1380&t=st=1673706623~exp=1673707223~hmac=eabec11d8cf8123b5f27d01f7ce6d2ade17f52c94249f898a13e39d9c2168f0a');
    height:100vh;
    background-size: cover;
    justify-content: flex-end;
    opacity:0.7;

  
  
    
}
.button-size{
    background-color:blueviolet;
}